<% provide :title, "Login" %>
<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="span12 main-listing form-login">
        <div class="inner">
          <%= form_for(:session, url: login_path) do |f| %>
            <h1 class="h1_title"><%= t(".login") %></h1>
            <%= f.email_field :email, placeholder: t("helpers.placeholder.user.email"), class: "form-control" %>
            <%= f.password_field :password, placeholder: t("helpers.placeholder.user.password"),class: "form-control" %>
            <%= f.submit t(".login"),class: "btn btn-primary" %>
            <p><%= t(".new_user") %><%= link_to t(".sign"), signup_path %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
