<% provide :title, t(".edit") %>
<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="span12 main-listing form-login">
        <div class="inner">
          <%= form_for(@user) do |f| %>
            <h1 class="h1_title"><%= t(".update") %></h1>
            <%= render "shared/error_messages" %>
            <%= f.text_field :name, placeholder: t("helpers.placeholder.user.name"),class: "form-control" %>
            <%= f.email_field :email, placeholder: t("helpers.placeholder.user.email"),class: "form-control" %>
            <%= f.password_field :password, placeholder: t("helpers.placeholder.user.password") ,class: "form-control" %>
            <%= f.password_field :password_confirmation, placeholder: t("helpers.placeholder.user.password_confirmation"),class: "form-control" %>
            <%= f.submit t(".save"), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


