<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="span8 main-listing form-login">
          <div class="inner_new">
            <%= form_for(@post,
              url: topic_posts_path(params[:topic_id])) do |f| %>
              <h1 class="h1_title">New a post</h1>
              <%= f.hidden_field(:topic_id, value: params[:topic_id]) %>
              <%= f.label :content %>
              <%= f.text_area :content, class: "form-control" %>
              <%= f.label :image %>
              <%= f.file_field :image, class: "form-control" %>
              <%= f.submit "New Post", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
